<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <!--add key="enemiesFile" value="C:\MatlabResults\efi.json"/-->
  <add key="minimumProbabilityToDisplay" value="0.5"/>
  <add key="usePrecalculated" value="true"/>
  <add key="selectionMethod" value="IGmaxRand5"/> <!--Options: IGmax IGmaxRand5 Random Static -->
  <add key="dataFolder" value="C:\Users\Mark\Desktop\GameData\"/>
  <add key="log" value="true"/>
  <add key="saveProbabilities" value="true"/>
  <add key="enemiesFile" value="C:\Users\efi\Documents\KinectConfig\1.json"/>
  <add key="matlabFolder" value="C:\Users\efi\Documents\MatlabResults\"/>
  <add key="shuffleCues" value="false"/>
  <add key="g" value="10.0"/>
  <add key="v" value="1.0"/>
</appSettings>
</configuration>